doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width")
        link(href="../css/main.css" rel="styleSheet")
        title Main store page
    body.body
        .wrapper
            block mainContent
        footer.footer
            block footer